.menu-1{
  position: sticky;
  top: 0;
  z-index: 1;
  width: 1440px;
  background-color: #F4F9E2;
  padding: 10px 0px;
  margin: 0 auto;
}

.menu{
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  max-width: 1172px;
  min-width: 800px;
  align-items: center;
}

.main{
  position: relative;
  background-color: #F4F9E2;
  width: 1440px;
  margin: 0 auto;
}

.menu__name{
  font-size: 24px;
  color: #62D0DF;
}

.menu__list{
  display: flex;
  width: 264px;
  justify-content: space-between;
  gap: 30px;
}

.menu__link{
  position: relative;
  color: #22356F;
  text-decoration: none;
  font-size: 18px;
}

.menu__link::after{
  content: '';
  position: absolute;
  display: block;
  background: #22356F;
  border-radius: 1px;
  width: 0;
  left: -8%;
  bottom: -10px;
  height: 2px;
  transition: .3s;
}

.menu__link:hover:after{
  width: 120%;
}

.menu__button{
  z-index: 0;
  position: relative;
  width: 150px;
  height: 50px;
  color: #62D0DF;
  background-color: aliceblue;
  border: 2px solid #62D0DF;
  border-radius: 50px;
  cursor: pointer;
  transition: all 1s;
  overflow: hidden;
}

.menu__button::before{
  content: '';
  z-index: -1;
  position: absolute;
  background-color:#62D0DF;
  width: 100%;
  height: 100%;
  transition: all 1s;
  transform: translateX(-100%);
  top: 0;
  left: 0;
}

.menu__button:hover::before{
  transform: translateX(0);
}

.menu__button:hover{
  color: #FFFFFF;
}
 

.profile{
  position: relative;
  margin: 0 auto;
  padding-top: 164px;
  max-width: 1172px;
}

.profile__txt__heading{
  width: 484px;
  color: #22356F;
  margin: 0;
  margin-top: 40px;
  font-size: 48px;
  letter-spacing: -0.035em;
}

.profile__txt{
  width: 484px;
  color: #22356F;
  margin: 0;
  margin-top: 73px;
  font-size: 24px;
  line-height: 47px;
  initial-letter: -0.035em;
}

.profile__button{
  margin: 0 auto;
  margin-top: 63px;
  
  max-width: 1172px;
  padding-bottom: 75px;
}

.profile__button--who{
  width: 150px;
  height: 50px;
  border: none;
  color: #FFFFFF;
  background-color: #F9B640;
  margin-right: 38px;
  cursor: pointer;
  transition: .3s;
}

.profile__button--who:hover{
  background-color: black;
}

.profile__button--what{
  text-decoration: none;
  color: #F9B640;
  cursor: pointer;
  transition: .3s;
}

.profile__button--what:hover{
  color: black;
}

.profile::after{
  content: '';
  position: absolute;
  background-image: url(../img/lobby.png);
  background-position: center;
  top: -10px;
  right: -135px;
  width: 720px;
  height: 630px;
  background-size: 900px;
}

@media screen and (max-width: 1450px){
  .menu__name{
    font-size: 30px;
    color: #62D0DF;
  }
  
  .menu__link{
    font-size: 25px;
  }
  
  .menu__button{
    width: 170px;
    height: 60px;
  }

  .menu__link::after{
    content: '';
    position: absolute;
    height: 4px;
  }

  .profile__button--who{
    width: 170px;
    height: 60px;
  }
}